//////////////////////////////////////////////////////////////
// LOGO

.logo {
  height: 3.25rem;
  @media only screen and (max-width: 32em) {
    margin-left: 2rem;
  }
}

//////////////////////////////////////////////////////////////
// SEARCH

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 44em) {
    flex: 0 0 50%;
  }

  @media only screen and (max-width: 32em) {
    flex: 0 0 100%;
    order: 1;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border-radius: 1000rem;
    width: 90%;
    transition: all 0.2s;
    padding: 0.6rem 2rem;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

//////////////////////////////////////////////////////////////
// USER NAVIGATION

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 1000rem;
    position: absolute;
    top: 1.4rem;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    gap: 1rem;
  }

  &__user-photo {
    height: 5rem;
    border-radius: 50%;
  }
}

//////////////////////////////////////////////////////////////
// MAIN NAVIGATION

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @media only screen and (max-width: 62.5em) {
    flex-direction: row;
    margin: 0;
    gap: 0;
  }

  &__item {
    position: relative;

    @media only screen and (max-width: 62.5em) {
      flex: 1;
    }

    &:first-child {
      background-color: var(--color-primary);
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1);
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    padding: 1.6rem 3rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: 62.5em) {
      justify-content: center;
    }

    @media only screen and (max-width: 44em) {
      flex-direction: column;
      padding: 1.6rem 0;
    }
  }

  &__icon {
    fill: currentColor;
    height: 3rem;
    width: 3rem;

    @media only screen and (max-width: 44em) {
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}

//////////////////////////////////////////////////////////////
// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.4rem;
  color: var(--color-grey-light-4);

  @media only screen and (max-width: 75em) {
    display: none;
  }
}

//////////////////////////////////////////////////////////////
// GALLERY

.gallery {
  display: flex;
  &__photo {
    width: 100%;
    display: block;
  }
}

//////////////////////////////////////////////////////////////
// HOTEL OVERVIEW

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  @media only screen and (max-width: 32em) {
    gap: 1.2rem;
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: 32em) {
      font-size: 1.8rem;
      padding: 1.5rem 0;
      text-align: center;
      flex: 0 0 35%;
    }
  }

  &__stars {
    display: flex;
    gap: 0.1rem;
    margin-right: auto;

    @media only screen and (max-width: 32em) {
      margin-left: -1.2rem;
    }
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    margin-right: 2.4rem;

    @media only screen and (max-width: 32em) {
      margin: 0;
    }
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 300;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    @media only screen and (max-width: 32em) {
      text-align: center;
      padding: 1rem 2rem;
    }
  }

  &__rating-average {
    font-size: 2rem;
  }

  &__rating-count {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

//////////////////////////////////////////////////////////////
// BUTTON INLINE

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-sizing: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: scale(1);
    box-sizing: none;
  }
}

//////////////////////////////////////////////////////////////
// PARAGRAPH

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

//////////////////////////////////////////////////////////////
// LIST

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem;
  }

  &__item:before {
    content: "";
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.6rem;

    background-color: var(--color-primary);
    -webkit-mask-box-image: url(../img/icon-right.svg);
    mask-size: cover;
  }
}

//////////////////////////////////////////////////////////////
// RECOMMEND

.recommend {
  color: var(--color-grey-dark-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;

  @media only screen and (max-width: 75em) {
    flex-direction: column;
    gap: 1.2rem;
  }

  @media only screen and (max-width: 44em) {
    flex-direction: row;
  }

  &__friends {
    display: flex;
  }
  &__photo {
    box-sizing: content-box;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    border: #fff 3px solid;

    &:not(:last-child) {
      margin-right: -1.2rem;
    }
  }
}

//////////////////////////////////////////////////////////////
// USER REVIEWS

.review {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  width: 100%;

  z-index: 10;

  &__text {
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.4rem;
    border-radius: 1000rem;
    margin-right: 1.4rem;
  }

  &__user-box {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__user-name {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    font-size: 20rem;
    font-family: sans-serif;
    color: var(--color-grey-light-3);
    top: -2.4rem;
    line-height: 1;
    left: 0;
    // z-index:1;
  }
}

//////////////////////////////////////////////////////////////
// CTA

.cta__book-now {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
}

.btn--cta {
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.5rem;

  border-radius: 1000rem;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: var(--shadow-light);

  &__visible {
    display: inline-block;
    padding: 1.8rem 7.2rem;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__invisible {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -100%;
    padding: 1.8rem 0;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }
}
