//////////////////////////////////////////////////////////////
// LOGO

.logo {
  height: 3.25rem;
}

//////////////////////////////////////////////////////////////
// SEARCH

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border-radius: 1000rem;
    width: 90%;
    transition: all 0.2s;
    padding: 0.6rem 2rem;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

//////////////////////////////////////////////////////////////
// USER NAVIGATION

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 1000rem;
    position: absolute;
    top: 1.4rem;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    gap: 1rem;
  }

  &__user-photo {
    height: 5rem;
    border-radius: 50%;
  }
}

//////////////////////////////////////////////////////////////
// MAIN NAVIGATION

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &__item {
    position: relative;

    &:first-child {
      background-color: var(--color-primary);
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1);
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    padding: 1.6rem 3rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    z-index: 2;
  }

  &__icon {
    fill: currentColor;
    height: 3rem;
    width: 3rem;
  }
}

//////////////////////////////////////////////////////////////
// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.4rem;
  color: var(--color-grey-light-4);
}
